{% extends "base.html" %}
{% block content %}

<h3>Fechamento Mensal</h3>

<form method="get" class="row g-2 mb-3">
<div class="col-md-3">
<select name="loja" class="form-select">
<option value="">Todas as lojas</option>
<option value="Filipéia Trattoria Express">Express</option>
<option value="Filipéia Trattoria Bessa">Bessa</option>
</select>
</div>

<div class="col-md-2">
<input type="number" name="mes" value="{{ mes }}" class="form-control">
</div>

<div class="col-md-2">
<input type="number" name="ano" value="{{ ano }}" class="form-control">
</div>

<div class="col-md-2">
<button class="btn btn-primary">Filtrar</button>
</div>
</form>

<table class="table table-striped">
<thead class="table-dark">
<tr>
<th>Motoboy</th>
<th>Entregas</th>
<th>KM Médio</th>
<th>Total Pago</th>
</tr>
</thead>
<tbody>
{% for m, e, km, t in dados %}
<tr>
<td>{{ m }}</td>
<td>{{ e }}</td>
<td>{{ "%.2f"|format(km) }}</td>
<td>R$ {{ "%.2f"|format(t) }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<h5>Total Geral: R$ {{ "%.2f"|format(total_mes) }}</h5>

{% endblock %}
