{% extends "base.html" %}
{% block content %}

<h4>Detalhes do Cálculo</h4>

<table class="table table-striped">
<thead class="table-dark">
<tr>
<th>Motoboy</th>
<th>Original</th>
<th>Ajuste</th>
<th>Final</th>
<th>Motivo</th>
</tr>
</thead>
<tbody>
{% for i in itens %}
<tr>
<td>{{ i.motoboy }}</td>
<td>R$ {{ "%.2f"|format(i.valor_original) }}</td>
<td>R$ {{ "%.2f"|format(i.ajuste) }}</td>
<td>R$ {{ "%.2f"|format(i.valor_final) }}</td>
<td>{{ i.motivo_ajuste }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
