{% extends "base.html" %}
{% block content %}

<h4>Relatórios Financeiros</h4>

<a href="/relatorios/exportar{% if loja %}?loja={{ loja }}{% endif %}" class="btn btn-success mb-3">
Exportar Excel
</a>

<table class="table table-striped">
<thead class="table-dark">
<tr>
<th>Data</th>
<th>Loja</th>
<th>Total</th>
</tr>
</thead>
<tbody>
{% for r in registros %}
<tr>
<td>{{ r.data.strftime("%d/%m/%Y") }}</td>
<td>{{ r.loja }}</td>
<td>R$ {{ "%.2f"|format(r.total) }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
